<.header>
  New Income type
  <:subtitle>Use this form to manage income_type records in your database.</:subtitle>
</.header>

<.income_type_form changeset={@changeset} action={~p"/income_types"} />

<.back navigate={~p"/income_types"}>Back to income_types</.back>
