<.header>
  Edit Expense type <%= @expense_type.id %>
  <:subtitle>Use this form to manage expense_type records in your database.</:subtitle>
</.header>

<.expense_type_form changeset={@changeset} action={~p"/expense_types/#{@expense_type}"} />

<.back navigate={~p"/expense_types"}>Back to expense_types</.back>
